{% if product.compare_at_price > product.price %}<span class="price price-sale">{{ product.price | money }}</span><span class="price price-compare">{{ product.compare_at_price | money }}</span>{% else %}<span class="price">{{ product.price | money }}</span>{% endif %}
